body {
  padding-top: 50px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive footer */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Change pointer to a hand on ng-click */
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}
/* Define ng-cloak here to speed things up */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}